/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
/*font-family: 'Smooch Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/*font-family: 'Homemade Apple', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/*font-family: 'Dosis', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}





/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><

HEADER

<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><*/

.header-index {
    background: linear-gradient(90deg, #000A57 0%, #000328 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    margin-top: 10px;

}

.header-title {
    color: #eeeeee;
    margin: 0;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 54px;
    padding-left: 12px;
    padding-right: 12px;
}

.header-subtitle {
    font-family: 'Homemade Apple', cursive;
    margin-top: -3px;
    color: white;
    text-align: center;
    transform: rotate(359deg);
    font-size: 15px;
}

.header-logo {
    width: 60px;
}





/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><

SEARCH

<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><*/
.search-container{
    padding: 6px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-div{
    display: flex;
}

.search-div img{
    width: 20px;
    display: flex;
}





/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><

INTRO

<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><*/

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

#login1{
    color: black;
    margin-bottom: 8px;
    margin-left: 5px;
}

#login button{
    width: -webkit-fill-available;
    padding: 5px;
    margin-top: 5px;
    background-color: #2196F3;
    color: white;
    border-style: none;
}

#login img{
    width: 40px;
    height: 40px;
}

#title{
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    border-bottom: dotted;
    align-self: flex-start;
    margin-left: 25px;
}


#dashboard > span > p:nth-child(2){ /*txt university*/
    margin: 20px;
    font-family: 'Dosis', sans-serif;
    margin-left: 45px;
    margin-right: 35px;
}

#title2{
    text-align: center;
    font-size: 20px;
    font-family: system-ui;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 8px;

}


#title2-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #ffe39b; */
    justify-content: center;
    align-content: center;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 30%);
    /* background-image: url(./media/bg.jpg); */
}

#title2-div:hover{
    background-color: #fff4d9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    
}

#title2:hover{
    transform: scale(1.1);
}

#banner{
    width: 100vw;
    height: 242px;
    object-fit: cover;
    object-position: center;
}

#dashboard > span > p:nth-child(5){
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin-left: 45px;
    margin-right: 35px;
}


#dashboard > span > p:nth-child(6) > a{
    font-family: monospace;
}





/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><


DASHBOARD


<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><*/



#dashboard{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

#dashboard span{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.category1{
    border-radius: 25px;
    width: 85%;
    margin-top: 25px;
    max-width: 375px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

.category2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 60%;
}

.category2 p{
    font-family: 'Dosis', sans-serif;
    max-width: fit-content;
}

.category-title{
    background-color: #ffe39b;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: 0px 3px 8px rgb(119 94 0 / 30%);
}





#dashboard2 h3{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-top: 0;
    text-align: center;
    border-radius: 15px;
    min-width: 350px;
    margin-bottom: 3px;
}

.poster{
    width: 180px;
    margin: 10px;
}

#dashboard2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

#dashboard2>span{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px;
}

#back{
    font-family: 'Smooch Sans', sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 2px solid #006570;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 20px;
    color: #007c89;
    font-weight: bolder;
    background-color: white;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
}

.readMore{
    font-family: 'Smooch Sans', sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 0px solid #000328;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    margin-bottom: 10px;
    background-color: #007c89;
}

.readMore:hover{
    background-color: #bbbbbb;
}

.back{
    z-index: 1;
    background-color: #e99fff;
    color: white;
    padding: 10px 30px;
}

.container{
/*     display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 60px;
    margin-left: 60px;
    max-width: 350px; */
    border-radius: 25px;
    width: 85%;
    margin-top: 25px;
    max-width: 375px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);

}

.divButton{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.divInfo{
    margin-right: 10px;
    font-family: 'Dosis', sans-serif;
}

.divInfo p{
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.divImg figure{
    margin: 0;
    display: flex;
    justify-content: center;
}

.divButton button{
    font-family: 'Smooch Sans', sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 20px;
    color: #ffffff;
    background-color: #007c89;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;

}
.divButton button:hover{
    color: #ffffff;
    background-color: #006570;
}







/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><


FOOTER


<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><*/

.footer-index {
    background: linear-gradient(90deg, #000A57 0%, #000328 100%);
    left: 0;
    width: 100%;
    bottom: 0px;
    padding: 1px;
}

footer>p {
    color: white;
    font-family: 'Smooch Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><


LOADER


<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>><*/

/* Center the loader */
/* #loader {
    display: none;
    margin-top: 10%;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #e99fff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */





  @media only screen and (min-width: 768px) {

    #login{
        flex-direction: row;
    }
  }