/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
/*font-family: 'Smooch Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/*font-family: 'Homemade Apple', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/*font-family: 'Dosis', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/*

HEADER

*/

.header-index {
    background: linear-gradient(90deg, #000A57 0%, #000328 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    margin-top: 10px;

}

.header-title {
    color: #eeeeee;
    margin: 0;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 54px;
    padding-left: 12px;
    padding-right: 12px;
}

.header-subtitle {
    font-family: 'Homemade Apple', cursive;
    margin-top: -3px;
    color: white;
    text-align: center;
    transform: rotate(359deg);
    font-size: 15px;
}

.header-logo {
    width: 60px;
}


/*

SEARCH

*/
.search-container{
    padding: 6px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-div{
    display: flex;
}

.search-div img{
    width: 20px;
    display: flex;
}



/* ________

DASHBOARD

__________*/

#dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category1{
    border-radius: 25px;
    width: 85%;
    margin-top: 25px;
    max-width: 375px;
    margin-right: 20px;
    margin-left: 20px;
}

.category2{
    margin: 0;
}

#dashboard h3{
    background-color: #b7deff;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
    border-radius: 15px;
    min-width: 350px;
}

#dashboard2 h3{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-top: 0;
    text-align: center;
    border-radius: 15px;
    min-width: 350px;
    margin-bottom: 3px;
}

.poster{
    width: 180px;
    margin: 10px;
}

#dashboard2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 60px;
    margin-left: 60px;
    max-width: 350px;
}

.divButton{
    display: flex;
    justify-content: center;
}

.divInfo{
    margin-right: 10px;
}

.divInfo p{
    text-align: center;
}

.divImg figure{
    margin: 0;
    display: flex;
    justify-content: center;
}

.divButton button{
    font-family: 'Smooch Sans', sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 20px;
    color: #ffffff;
    background-color: #007c89;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;

}
.divButton button:hover{
    color: #ffffff;
    background-color: #006570;
}



/*

FOOTER

*/
.footer-index {
    background: linear-gradient(90deg, #000A57 0%, #000328 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer>p {
    color: white;
    font-family: 'Smooch Sans', sans-serif;
    text-align: center;
    font-size: 18px;
}